@import "../../../_css/common";

.form {
  display: flex;
  flex-direction: column;
  gap: var(--base);
  // border: 1px solid black; /* Added solid black border */
  // border-radius: 10px; /* Added border radius */
  // padding: 20px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base);
}

.or{
  display: flex;
  justify-content: center;
  align-items: center;
}
